/* .slider {
  position: relative;
  width: 100%;
  height: 85vh; 
  overflow: hidden;
  background-color: #caf0f8;
}

.slider-container {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 100%;
  height: 100%; 
}

.slider-item {
  flex: 0 0 100%; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
  transition: transform 0.5s ease, filter 0.4s ease; 
}

.slider-item:hover {
  transform: scale(1.05);
  filter: brightness(1.1); 
}

.slider-content {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  max-width: 100%;
  padding: 15px 20px;
  text-align: center;
}

.slider-content h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.slider-content p {
  font-size: 1rem;
  margin: 0;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 10;
}

.prev,
.next {
  color: white;
  border: none;
  width: 50px;  
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2.5rem; 
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 0 20px; 
  top: 50%;
  transform: translateY(-50%); 
}

.prev {
  margin-left: 20px;
}

.next {
  margin-right: 20px; 
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); 
  transform: translateY(-50%) scale(1.1);
} */
